<html>

<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}"/>

</head>

{% block content %}
<body>

    <p>what's happening</p>

    <div class = "sidebar">
        <a class="nav-link" href = '/'>Home</a>
        <br>
        <a class="nav-link" href = 'companies'>Companies</a>
        <br>
        <a class="nav-link" href = 'add_company'>Add a company</a>
        <br>
        <a class="nav-link" href = 'credentials'>Credentials</a>
        <br>
        <a class="nav-link" href = 'research'>Research</a>
        <br>
        <a class="nav-link" href = 'settings'>Settings</a>
    
    
    </div>
    

</body>
{% endblock %}

</html>