
{% extends "base.html"%}

{% block main %}


{{super()}}
<form action = '/' method = 'POST'>
<div class = 'row'>
    <label for = 'source'>Filter by Source</label>
    <select name="source">
        <option value="ecowatch">Ecowatch</option>
        <option value="reuters"selected = 'selected'>Reuters</option>
        <option value="other">OTHER</option>
    </select>
</div>

<div class = 'row'>
    <label for = 'keyword'>Filter by Keyword</label>
    <select name="keyword">
        <option value="Finance">Finance</option>
        <option value="ESG"selected = 'selected'>ESG</option>
        <option value="other">OTHER</option>
    </select>

</div>

<input type = 'submit' name = 'submit_button' value = 'fetch'>

</form>
{% for article,link in dictt.items() %}

<div style="margin:5px">
<a href = "{{link}}" target="_blank"> {{article}} </a>
</div>

{% endfor %}


{% endblock %}
