
{% extends "base.html"%}

{% block main %}


{{super()}}

<form action = '/' method = 'POST'>
<span class = 'row' style="margin:5px">
    <label for = 'source'>Filter by Source</label>
    <select name="source">
        <option value="ecowatch">Ecowatch</option>
        <option value="reuters">Reuters</option>
        <option value="None">All</option>
        <option value="other">OTHER</option>
    </select>
</span>

<span class = 'row' style="margin:5px">
    <label for = 'keyword'>Filter by Keyword</label>
    <select name="keyword">
        <option value="Finance">Finance</option>
        <option value="ESG"selected = 'selected'>ESG</option>
        <option value="other">OTHER</option>
    </select>

</span>

<input type = 'submit' name = 'submit_button' value = 'fetch'>

</form>
<h2>{{title}}</h2>
{% for article,link in dictt.items() %}

<div style="margin:5px">
<a href = "{{link}}" target="_blank"> {{article}} </a>
</div>

{% endfor %}


{% endblock %}
