<nav id="sidebar">
    <div class="sidebar-header">
        <h3>IMPAKTER DASHBOARD</h3>
    </div>

    <ul class="list-unstyled components">
        <p>---</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">News</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="news">News and updates</a>
                </li>
                <li>
                    <a href="sources">View News-Sources Datatable</a>
                </li>
                <li>
                    <a href="add_source">Add a source</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Companies</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="companies">View Companies Datatable</a>
                </li>
                <li>
                    <a href="add_company">Add a new Company</a>
                </li>
                <li>
                    <a href="#">Place holder</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#credentialSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Credentials</a>
            <ul class="collapse list-unstyled" id="credentialSubmenu">
                <li>
                    <a href="credentials">View Credentials datatable</a>
                </li>
                <li>
                    <a href="add_credential">Add a Credential</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="research">Research</a>
        </li>
        <li>
            <a href="settings">Settings</a>
        </li>
        <li>
            <a href="#">Place holder</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Logout</a>
        </li>
        <li>
            <a href="https://impakter.com" class="article">Go to Impakter public</a>
        </li>
    </ul>
</nav>
