<nav id="sidebar">
    <div class="sidebar-header">
        <a href='\'><h3>IMPAKTER DASHBOARD</h3></a>
    </div>

    <ul class="list-unstyled components">
        <p>---</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">News</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="news">Index Updates</a>
                </li>
                <li>
                    <a href="sources">View all Sources</a>
                </li>
                <li>
                    <a href="add_source">Add a source</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Index - Companies</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="companies">View Companies</a>
                </li>
                <li>
                    <a href="add_company">Add a new Company</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#credentialSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Index - Credentials</a>
            <ul class="collapse list-unstyled" id="credentialSubmenu">
                <li>
                    <a href="credentials">View Credentials</a>
                </li>
                <li>
                    <a href="add_credential">Add a Credential</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="research">Research</a>
        </li>
        <li>
            <a href="add_user">Add a user</a>
        </li>
        <li>
            <a href="users">All Users</a>
        </li>
        <li>
            <a href="settings">Settings</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Logout</a>
        </li>
        <li>
            <a href="https://impakter.com" class="article">Go to Impakter public</a>
        </li>
    </ul>
</nav>
