<nav id="sidebar">
    <div class="sidebar-header">
        <a href='\'><h3>IMPAKTER DASHBOARD</h3></a>
    </div>

    <ul class="list-unstyled components">
        <p>---</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">News</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="news">Index Updates</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/show/sources/0">View all Sources</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/add/source">Add a source</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Index - Companies</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/show/companies/0">View Companies</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/add/company">Add a new Company</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#credentialSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Index - Credentials</a>
            <ul class="collapse list-unstyled" id="credentialSubmenu">
                <li>
                    <a href="http://127.0.0.1:5000/show/credentials/0">View Credentials</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/add/credential">Add a Credential</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="research">Research</a>
        </li>
        <li>
            <a href="http://127.0.0.1:5000/add/user">Add a user</a>
        </li>
        <li>
            <a href="users">All Users</a>
        </li>
        <li>
            <a href="show/1">Show</a>
        </li>
        <li>
            <a href="settings">Settings</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Logout</a>
        </li>
        <li>
            <a href="https://impakter.com" class="article">Go to Impakter public</a>
        </li>
    </ul>
</nav>
