
.my_sidebar {
    position: fixed;
    background-color: #e9f7ff;
  }
.my_sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }

.my_sidebar a:hover {
    color: #e42e2e;
  }