{% extends "show.html"%}

{% block show_content %}


<table class = "table" style="width:100%"> 
    <thead> 
    <tr> 
        <th>Company Name</th>
        <th>Industry</th>
        <th>Rating</th>
        <th>status</th>
    </tr> 
    </thead> 

    <tbody> 
        {% for company in table %}  
            <tr>  
                <td>{{company.name}}</td>
                <td>{{company.industry}}</td>
                <td>{{company.rating}}</td>
                <td>{{company.status}}</td>
            </tr> 
        {% endfor %} 
    </tbody> 



</table> 



{% endblock %} 


